<div id="root">
  <div class="layout undefined">
    <div class="content" style="max-width: 375px;">
      <div class="stacks stacks-body-wrap" style="opacity: 1;">
        <div class="screen screen-stack">
          <div class="screen-stack screen-stack-wrap">
            <div class="animation-screen-stack" style="opacity: 1;">
              <div class="animation-screen-stack-content" style="max-width: 375px;">
                <div class="swapHeader" style="opacity: 1;">
                  <div class="header " style="background-color: rgb(4, 109, 181);">
                    <div class="button-back-left undefined" routerLink="/trang-ca-nhan">
                      <div class="content-back">
                        <svg width="26" height="24" viewBox="0 0 26 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.92 18L9.67998 12L15.92 6" stroke="#fff" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        </svg>
                        <span class="title-back">Hồ sơ</span>
                      </div>
                    </div>
                    <div class="header-title " style="left: 128.641px; top: 16px; max-width: 157.125px;">Đổi mật khẩu
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-screen-stack"
              style="transform: translateX(0px); padding-bottom: 0px; padding-top: 54px;">
              <div class="change-password-forgot" style="padding-top: 25px;">
                <div class="header"><span>Thay đổi mật khẩu</span></div>
                <form class="ant-form ant-form-vertical" style="margin-top: 24px;" [formGroup]="changepasswordForm"
                  (ngSubmit)="changePassword()">
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><span
                              class="ant-input-affix-wrapper ant-input-password input-custom"><span
                                class="ant-input-prefix"><img
                                  src="https://vaydaiphat.com/images/f1abc4914b0ab74696fa4949158dbece-Lock_Password.svg"
                                  alt=""></span>
                                  <input placeholder="Vui lòng nhập mật khẩu cũ" id="password"
                                action="click" type="{{typeOld}}" class="ant-input" formControlName="current_password">
                                <span class="ant-input-suffix" (click)="showPasswordOld()"><span
                                  role="img" aria-label="eye-invisible" tabindex="-1"
                                  class="anticon anticon-eye-invisible ant-input-password-icon"><svg
                                    viewBox="64 64 896 896" focusable="false" data-icon="eye-invisible" width="1em"
                                    height="1em" fill="currentColor" aria-hidden="true">
                                    <path
                                      d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 000-51.5zm-63.57-320.64L836 122.88a8 8 0 00-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 000 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 000 11.31L155.17 889a8 8 0 0011.31 0l712.15-712.12a8 8 0 000-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 00-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 01146.2-106.69L401.31 546.2A112 112 0 01396 512z">
                                    </path>
                                    <path
                                      d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 00227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 01-112 112z">
                                    </path>
                                  </svg></span></span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <span class="text-danger" style="margin-bottom: -19px;
                    display: flex;" *ngIf="(changePasswordFormControl['current_password'].touched || submitted) &&
                    changePasswordFormControl['current_password'].errors?.['required']">
                      Mật khẩu không được để trống
                    </span>
                    <span class="text-danger" style="margin-bottom: -19px;
                    display: flex;" *ngIf="(changePasswordFormControl['current_password'].touched || submitted) &&
                    changePasswordFormControl['current_password'].errors?.['minlength']">
                      Mật khẩu phải từ 8 - 16 chữ số
                    </span>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><span
                              class="ant-input-affix-wrapper ant-input-password input-custom"><span
                                class="ant-input-prefix"><img
                                  src="https://vaydaiphat.com/images/f1abc4914b0ab74696fa4949158dbece-Lock_Password.svg"
                                  alt=""></span>
                                  <input placeholder="Vui lòng nhập mật khẩu mới" id="newPassword"
                                action="click" type="{{typeNew}}" class="ant-input" formControlName="new_password">
                                <span class="ant-input-suffix" (click)="showPasswordNew()"><span
                                  role="img" aria-label="eye-invisible" tabindex="-1"
                                  class="anticon anticon-eye-invisible ant-input-password-icon"><svg
                                    viewBox="64 64 896 896" focusable="false" data-icon="eye-invisible" width="1em"
                                    height="1em" fill="currentColor" aria-hidden="true">
                                    <path
                                      d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 000-51.5zm-63.57-320.64L836 122.88a8 8 0 00-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 000 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 000 11.31L155.17 889a8 8 0 0011.31 0l712.15-712.12a8 8 0 000-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 00-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 01146.2-106.69L401.31 546.2A112 112 0 01396 512z">
                                    </path>
                                    <path
                                      d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 00227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 01-112 112z">
                                    </path>
                                  </svg></span></span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <span class="text-danger" style="margin-bottom: -19px;
                    display: flex;" *ngIf="(changePasswordFormControl['new_password'].touched || submitted) &&
                    changePasswordFormControl['new_password'].errors?.['required']">
                      Mật khẩu không được để trống
                    </span>
                    <span class="text-danger" style="margin-bottom: -19px;
                    display: flex;" *ngIf="(changePasswordFormControl['new_password'].touched || submitted) &&
                    changePasswordFormControl['new_password'].errors?.['minlength']">
                      Mật khẩu phải từ 8 - 16 chữ số
                    </span>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content"><span
                              class="ant-input-affix-wrapper ant-input-password input-custom"><span
                                class="ant-input-prefix"><img
                                  src="https://vaydaiphat.com/images/f1abc4914b0ab74696fa4949158dbece-Lock_Password.svg"
                                  alt=""></span>
                                  <input placeholder="Vui lòng nhập lại mật khẩu mới" id="reNewPassword"
                                action="click" type="{{typeConf}}" class="ant-input" formControlName="confirm_password">
                                <span class="ant-input-suffix" (click)="showPasswordConf()"><span
                                  role="img" aria-label="eye-invisible" tabindex="-1"
                                  class="anticon anticon-eye-invisible ant-input-password-icon"><svg
                                    viewBox="64 64 896 896" focusable="false" data-icon="eye-invisible" width="1em"
                                    height="1em" fill="currentColor" aria-hidden="true">
                                    <path
                                      d="M942.2 486.2Q889.47 375.11 816.7 305l-50.88 50.88C807.31 395.53 843.45 447.4 874.7 512 791.5 684.2 673.4 766 512 766q-72.67 0-133.87-22.38L323 798.75Q408 838 512 838q288.3 0 430.2-300.3a60.29 60.29 0 000-51.5zm-63.57-320.64L836 122.88a8 8 0 00-11.32 0L715.31 232.2Q624.86 186 512 186q-288.3 0-430.2 300.3a60.3 60.3 0 000 51.5q56.69 119.4 136.5 191.41L112.48 835a8 8 0 000 11.31L155.17 889a8 8 0 0011.31 0l712.15-712.12a8 8 0 000-11.32zM149.3 512C232.6 339.8 350.7 258 512 258c54.54 0 104.13 9.36 149.12 28.39l-70.3 70.3a176 176 0 00-238.13 238.13l-83.42 83.42C223.1 637.49 183.3 582.28 149.3 512zm246.7 0a112.11 112.11 0 01146.2-106.69L401.31 546.2A112 112 0 01396 512z">
                                    </path>
                                    <path
                                      d="M508 624c-3.46 0-6.87-.16-10.25-.47l-52.82 52.82a176.09 176.09 0 00227.42-227.42l-52.82 52.82c.31 3.38.47 6.79.47 10.25a111.94 111.94 0 01-112 112z">
                                    </path>
                                  </svg></span></span></span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <span class="text-danger" style="margin-bottom: -19px;
                    display: flex;" *ngIf="(changePasswordFormControl['confirm_password'].touched || submitted) &&
                    changePasswordFormControl['confirm_password'].errors?.['required']">
                      Mật khẩu không được để trống
                    </span>
                    <span class="text-danger" style="margin-bottom: -19px;
                    display: flex;" *ngIf="(changePasswordFormControl['confirm_password'].touched || submitted) &&
                    changePasswordFormControl['confirm_password'].errors?.['minlength']">
                      Mật khẩu phải từ 8 - 16 chữ số
                    </span>
                  </div>
                  <div class="ant-form-item">
                    <div class="ant-row ant-form-item-row">
                      <div class="ant-col ant-form-item-control">
                        <div class="ant-form-item-control-input">
                          <div class="ant-form-item-control-input-content">
                            <div class="button-custom ">
                              <button type="submit" class="ant-btn ant-btn-primary"><span>Xác nhận</span></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="bottom-bar">
              <div class="animation-screen-stack-content">
                <div class="animation-screen-stack-content" style="max-width: 375px; transform: translateX(0px);"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
