<div class="modal fade notification-approval" role="dialog">
  <div class="modal-dialog">
    <div class="card">
     <div class="text-right cross"> <i class="fa fa-times"></i> </div>
      <!-- <div class="card-body text-center"> <img class="img-notification" src="https://vaydaiphat.com/images/450c452726b72e140803553c99fc7387-EmptyIcon.svg"> -->
      <div class="card-body text-center"> <img class="img-notification" src="https://png.pngtree.com/element_our/20200610/ourmid/pngtree-red-error-icon-image_2248553.jpg">
        <!-- <p class="content-notification">{{money.sum | number}}đ</p> -->
        <p class="content-notification">Thất bại. Vui lòng liên hệ bộ phân hỗ trợ</p>
        <button class="btn btn-out btn-square continue"  data-dismiss="modal" (click)="handleWithdrawl(money)" >Đồng ý</button>
      </div>
    </div>
  </div>
</div>
